services:
  db:
    image: postgres:15
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - appnet
    restart: always

  web:
    build: .
    command: bash -c "bundle exec rails db:prepare && bundle exec rails s -b 0.0.0.0"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - appnet
    restart: always

  worker:
    build: .
    command: bin/jobs work
    env_file:
      - .env
    depends_on:
      - db
    restart: always

networks:
  appnet:
    driver: bridge
