services:
  db:
    image: postgres:15
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - appnet
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    command: bash -c "bundle exec rails db:prepare && bundle exec rails db:schema:load && bundle exec rails s -b 0.0.0.0"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - appnet
    restart: always

  worker:
    build: .
    command: bash -c "bin/jobs start"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - appnet
    restart: always

networks:
  appnet:
    driver: bridge
