<div class="popup">
  <div class="popup-header">
    <img class="flag-img" src="https://flagcdn.com/<%= airport.country.code.downcase %>.svg">
    <span class="airport-code"><%= airport.code %></span>
  </div>
  <div class="airport-name"><%= airport.name %></div>
</div>
