.custom-form {
  background: rgba(white,0.7);
  border: 1px solid $primary;
  border-radius: 5px;
  input::placeholder {
    font-size: 14px;
    color: $secondary;
  }
  .eye-icon {
    color: $secondary;
  }
  .btn {
    font-size: 16px;
  }
  h6 {
    color: $primary;
  }
  p {
    font-size: 14px;
    font-weight: 500;
  }
  .form-footer {
    a {
      color: $primary;
      text-decoration: none;
      @media (max-width: 767px) {
        font-size: 14px;
      }
      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
    p {
      @media (max-width: 767px) {
        font-size: 14px;
      }
      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
  }
  @media (max-width: 450px) {
    p {
      font-size: 9px;
    }
  }
  @media (min-width: 451px) and (max-width: 767px) {
    p {
      font-size: 10px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    p {
      font-size: 11px;
    }
  }
}
