.custom-index {
  background: rgba(white,0.7);
  border: 1px solid $primary;
  border-radius: 5px;
  .nav {
    background: transparent !important;
    border-bottom: none !important;
  }
  .nav-link {
    color: $primary;
    font-size: 16px;
    font-weight: 600;
  }
  .nav-tabs .nav-link.active {
    background-color: transparent !important;
    border-bottom: 2px solid $primary !important;
    color: $primary;
    pointer-events: none;
  }
  .nav-tabs .nav-link {
    border: none !important;
    &:hover {
      border: none !important;
    }
  }
  .form-footer {
    a {
      color: $primary;
      text-decoration: none;
      @media (max-width: 767px) {
        font-size: 14px;
      }
      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
    p {
      @media (max-width: 767px) {
        font-size: 14px;
      }
      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
  }
}
